<!DOCTYPE html>

<html>
<head>

    <title> Feed </title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/navbar.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>

<body>



    <nav class = "navbar navbar-default">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="navbar-brand navbar-brand-fix" href="/">Feed</a> 
            </div>
        </div>

        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/search"> Search </a>
                </li>
                <% if (message =='loggedin') { %>
                <li>   
                    <a href="/newrecipe">Add a New Recipe! </a>
                </li>
                <li>
                    <a href="/profile">My Profile</a>
                </li>
                <li>
                    <a href="/orders"> My Orders</a>
                </li>
                <li>
                    <a href="/logout">Logout </a>
                </li>
                <% } else { %>
                <li>
                    <a href="/signup"> Sign Up </a>
                </li>
                <li>
                    <a href="/login" class="visible-xs"> Login </a>
                </li>
                <li class="dropdown hidden-xs">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Login<span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    Login via
                                    <div class="social-buttons text-center">
                                        <a href="/auth/facebook" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook </a>
                                    </div>
                                    or 
                                    <br>
                                    <form action="/login" method="post" class="form" role="form">
                                        <div class="form-group">
                                            <label class="sr-only">Email</label>
                                            <input type="text" name="email" class="form-control" id="email" placeholder="Email" >
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" >Password</label>
                                            <input type="password" name="password" class="form-control" id="password" placeholder="Password" >
                                        </div>
                                        <div class="form-group">
                                            <button type="submit"class="btn btn-primary btn-block">Sign in</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <% } %>
                <li>
                    <a href="/about"> About </a>
                </li>
            </ul>
        </div>
    </nav>

    <header class="text-center">

        <div class="intro-text text-center">

            <h1> Welcome to Feed!</h1>

        </div>

    </header>

    <div class="container-fluid">

        <div class="row">
            <div class="hidden-xs col-sm-3" id="categories">
                <h3 class="lead"> Search by Category</h3>
                <div class="list-group">
                    <a href="/search?query=Main" class="list-group-item"> Main Courses </a>
                    <a href="/search?query=Appetizers" class="list-group-item"> Appetizers </a>
                    <a href="/search?query=Desserts" class="list-group-item"> Desserts </a>
                    <a href="/search?query=Drinks" class="list-group-item"> Drinks </a>
                </div>
                <h3 class="lead"> Search by Cuisine</h3>
                <div class="list-group">
                    <a href="/search?query=Mediterranean" class="list-group-item"> Mediterranean </a>
                    <a href="/search?query=Chinese" class="list-group-item"> Chinese </a>
                    <a href="/search?query=Western" class="list-group-item"> Western </a>
                </div>
            </div>
            <br>
            <div class="visible-xs col-sm-3" id="categories">
                <div class="dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:50%;">
                    Search by Category <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="width:50%;">
                    <li><a href="/search?query=Main">Main Courses</a></li>
                    <li><a href="/search?query=Appetizers">Appetizers</a></li>
                    <li><a href="/search?query=Desserts">Desserts</a></li>
                    <li><a href="/search?query=Drinks">Drinks</a></li>
                </ul>
            </div>
            <br>
            <div class="dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:50%;">
                    Search by Cuisine <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="width:50%;">
                    <li><a href="/search?query=Mediterranean">Mediterranean</a></li>
                    <li><a href="/search?query=Chinese">Chinese</a></li>
                    <li><a href="/search?query=Western">Western</a></li>
                    <li><a href="/search?query=Italian">Italian</a></li>
                </ul>
            </div>
        </div>
             <div id="search-suggestions-recipes" class="container-fluid">
            <div class="container col-lg-9">
                 <% if(recipeResults) {%>
                    <h2 class="search-title text-center">
                       Top Recipes
                    </h2>
                    <div class="row order-section">
                        <% for(var i=0; i<recipeResults.length;i++){%>
                         <a style="text-decoration:none;" href='/recipe/<%=recipeResults[i]._id%>'>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div style="height: 500px;"class="search-item center-block">
                                    <!-- Image -->
                                    <h3 class="text-center">
                                        <%=recipeResults[i].name %>
                                    </h3>
                                    <% if(recipeResults[i].category == 'Main Course' ){%>
                                        <img src="../img/main.jpeg"
                                             class="order-image"> 
                                     <% } else if(recipeResults[i].category == 'Drinks'){%>
                                        <img src="../img/drinks.jpeg"
                                             class="order-image"> 
                                     <% } else if(recipeResults[i].category == 'Appetizers' ){%>
                                        <img src="../img/appetizers.jpeg"
                                             class="order-image"> 
                                     <% } else if(recipeResults[i].category == 'Desserts' ){%>
                                        <img src="../img/desserts.jpeg"
                                             class="order-image"> 
                                    <% }%>
                                    <h4 class="text-center">
                                        <%=recipeResults[i].name %>
                                    </h4>
                                    <h5 class="text-center">
                                        <%=recipeResults[i].cuisine %>
                                    </h5><!-- Cost -->
                                    <h4 class="text-center">
                                        $<%=recipeResults[i].cost %>
                                    </h4>
                                    <h4 class="text-center">
                                        <%=recipeResults[i].category %>
                                    </h4>
                                    <p style="font-style: italic;" class="text-center">
                                        <%=recipeResults[i].description %>
                                     </p>
                                    <span class="search-rating center-block text-center">
                                        <!-- fill stars -->

                                    <% for(var j=0; j<Math.round(averageRating(recipeResults[i].rating)) ;j++) {%>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <% } %>                               
                                        <!-- add empty stars -->
                                     <% for(var j=0; j<5-Math.round(averageRating(recipeResults[i].rating)) ;j++) {%>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <% } %>
                                    </span>
                                </div>
                            </div>
                            </a>
                        <% } %>
                    <%}%>     
                </div>
            </div>
        </div>
          </div>
      </div>

  </div>

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>

<footer class="footer text-center">
    <hr>
    <p class="copyright">Copyright &copy; Feed 2016</p>
</footer>

</html>