<html>
<head>
    <title>
        Feed - <%= user.firstname %> <%= user.lastname %>
    </title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/profile.css" rel="stylesheet" type="text/css">
    <link href="css/navbar.css" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
</head>


<body>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div>
                <a class="navbar-brand navbar-brand-fix"
                href="/">Feed</a>
            </div>
        </div>
        <div class="collapse navbar-collapse "
        id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/search">Search </a>
            </li>
            <li>   
                <a href="/newrecipe">Add a New Recipe! </a>
            </li>
            <li>
                <a href="/profile">My Profile</a>
            </li>
            <li>
                <a href="/orders"> My Orders </a>
            </li>
            <li>
                <a href="/logout">Log Out</a>
            </li>
            <li>
                <a href="/about"> About </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container"> 
    <div class="row">
        <div class="col-md-3 text-center">
            <h3 class="lead"> Options</h3>
            <div class="list-group">
                <a href="/editprofile" class="list-group-item"> Update Profile </a>
                <% if (user.password) {  %>
                <a href="/changepass" class="list-group-item"> Change Password </a>
                <% } else {%>
                <a href="/changepass" class="list-group-item"> Create Password </a>
                <% } %>
            </div>
        </div>
        <div class="col-md-2 text-center">
        </div>
        <div class="col-md-4">

            <% if (user.email) { %>
            <h2> <%= user.firstname %> <%= user.lastname %> </h2>
            <br>
            <h5> <b>Email:</b> <%= user.email %> </h5> 
            <% } %>
            <% if (user.phonenumber) {  %>
            <h5> <b>Phone number:</b> <%= user.phonenumber %> </h5>
            <% }%>
            <% if (user.city) {  %>
            <h5> <b>Location:</b> <%= user.city %> , <%= user.country %> </h5>
            <% }%>
            <% if (user.streetaddress) {  %>
            <h5> <b> Address </b></h5>
            <h5> Street Address: <%= user.streetaddress %></h5>
            <% if (user.postalcode) { %>
            <h5> Postal/Zip code: <%= user.postalcode %> </h5>
            <% }%>
            <% }%>
            <% if (user.fav_cuisine.length!=0) {  %>
            <h5> <b>Favourite Cuisines:</b></h5>
            <ol> 
                <% for(var i=0;i < user.fav_cuisine.length;i++){ %>
                <li><%=user.fav_cuisine[i]%></li>
                <%}%>
            </ol>
            <%}%>
            <h5> <b>Member since:</b> <%=user.date %></h5>


        </div>
    </div>
    <div class="row">
        <div id="search-suggestions-recipes" class="container-fluid">
            <div class="container col-md-12 text-center">
               <% if(recipes.length!=0) {%>
               <h2 class="search-title text-center">
                 Recipes
             </h2>
             <div class="row order-section">
                <% for(var i=0; i<recipes.length;i++){%>
                        <a style="text-decoration:none;" href='/recipe/<%=recipes[i]._id%>'>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div style="height: 500px;"class="search-item center-block">
                                    <!-- Image -->
                                    <h3 class="text-center">
                                        <%=recipes[i].name %>
                                    </h3>
                                    <% if(recipes[i].category == 'Main Course' ){%>
                                        <img src="../img/food_example1.jpeg"
                                             class="order-image"> 
                                     <% } else if(recipes[i].category == 'Drinks'){%>
                                        <img src="../img/food_example2.jpeg"
                                             class="order-image"> 
                                     <% } else if(recipes[i].category == 'Appetizers' ){%>
                                        <img src="../img/food_example3.jpeg"
                                             class="order-image"> 
                                     <% } else if(recipes[i].category == 'Desserts' ){%>
                                        <img src="../img/food_example4.jpeg"
                                             class="order-image"> 
                                    <% }%>
                                    <h4 class="text-center">
                                        <%=recipes[i].name %>
                                    </h4>
                                    <h5 class="text-center">
                                        <%=recipes[i].cuisine %>
                                    </h5><!-- Cost -->
                                    <h4 class="text-center">
                                        $<%=recipes[i].cost %>
                                    </h4>
                                    <h4 class="text-center">
                                        <%=recipes[i].category %>
                                    </h4>
                                    <p style="font-style: italic;" class="text-center">
                                        <%=recipes[i].description %>
                                     </p>
                                    <span class="search-rating center-block text-center">
                                        <!-- fill stars -->

                                        <% for(var j=0; j<Math.round(recipes[i].review_avg) ;j++) {%>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <% } %>                               
                                        <!-- add empty stars -->
                                         <% for(var j=0; j<5-Math.round(recipes[i].review_avg) ;j++) {%>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <% } %>
                                    </span>
                                </div>
                            </div>
                            </a>
            <% } %>
            <%}%>     
        </div>
    </div>
</div>
</div>

</div>


</div>

<script src="js/jquery.js" type="text/javascript"> </script>
<script src="js/bootstrap.min.js" type="text/javascript"> </script>

</body>

<footer class="footer text-center">
    <hr>
    <p class="copyright">
        Copyright &copy; Feed 2016
    </p>
</footer>
</html>
