<html>
<head>
    <title>
        Feed - <%= user.firstname %> <%= user.lastname %>
    </title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/profile.css" rel="stylesheet" type="text/css">
    <link href="../css/navbar.css" rel="stylesheet" type="text/css">
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
</head>


<body>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="navbar-brand navbar-brand-fix"
                href="/">Feed</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/search">Search </a>
                </li>
                <% if (message=='loggedin') { %>
                <li>   
                    <a href="/newrecipe">Add a New Recipe! </a>
                </li>
                <li>
                    <a href="/profile">My Profile</a>
                </li>
                <li>
                    <a href="/orders"> My Orders </a>
                </li>
                <li>
                    <a href="/logout">Log Out</a>
                </li>
                <% } else { %>
                    <li class="dropdown hidden-xs">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Login<span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        Login via
                                        <div class="social-buttons text-center">
                                            <a href="/auth/facebook" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                        </div>
                                        or
                                        <br>
                                        <form action="/login" method="post" class="form" role="form">
                                            <div class="form-group">
                                                <label class="sr-only">Email</label>
                                                <input type="text" name="email" class="form-control" id="email" placeholder="Email" >
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" >Password</label>
                                                <input type="password" name="password" class="form-control" id="password" placeholder="Password" >
                                            </div>
                                            <div class="form-group">
                                                <button type="submit"class="btn btn-primary btn-block">Sign in</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                <% } %>
                <li>
                    <a href="/about"> About </a>
                </li>
            </ul>
        </div>
    </nav>

<div class="container"> 
    <div class="row">
        <div class="col-md-12 text-center">

            <% if (user.email) { %>
            <h2> <%= user.firstname %> <%= user.lastname %> </h2>
            <br>
            <h5> <b>Email:</b> <%= user.email %> </h5> 
            <% } %>
            <% if (user.phonenumber) {  %>
            <h5> <b>Phone number:</b> <%= user.phonenumber %> </h5>
            <% }%>
            <% if (user.city) {  %>
            <h5> <b>Location:</b> <%= user.city %> , <%= user.country %> </h5>
            <% }%>
            <% if (user.streetaddress) {  %>
            <h5> <b> Address </b></h5>
            <h5> Street Address: <%= user.streetaddress %></h5>
            <% if (user.postalcode) { %>
            <h5> Postal/Zip code: <%= user.postalcode %> </h5>
            <% }%>
            <% }%>
            <% if (user.fav_cuisine.length!=0) {  %>
            <h5> <b>Favourite Cuisines:</b></h5>
            <ol> 
              <%  for(var i=0;i<user.fav_cuisine.length;i++){ %>
                    <li><%=user.fav_cuisine[i]%></li>
            <%}%>
            </ol>
            <%}%>            
            <h5> <b>Member since:</b> <%=user.date %></h5>
        </div>
    </div>
    <div class="row">
    <div id="search-suggestions-recipes" class="container-fluid">
            <div class="container col-md-12 text-center">
                 <% if(recipes.length!=0) {%>
                    <h2 class="search-title text-center">
                       Recipes
                    </h2>
                    <div class="row order-section">
                        <% for(var i=0; i<recipes.length;i++){%>
                        <a style="text-decoration:none;" href='/recipe/<%=recipes[i]._id%>'>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div style="height: 550px; width: 400px;" class="search-item center-block">
                                <!-- Image -->
                                <img src="../img/food_example1.jpeg" class="order-image"> <!-- Name -->
                                <h4 class="text-center">
                                    <%=recipes[i].name %>
                                </h4><!-- Date -->

                                <% if(recipes[i].type) {%>
                                    <h4 class="text-center">
                                        <%=recipes[i].type %>
                                    </h4>
                                <% } %>
                                <h4 class="text-center">
                                    <%=recipes[i].cuisine %>
                                </h4>
                                <h4 class="text-center">
                                    <%=recipes[i].category %>
                                </h4>
                                <h4 class="text-center">
                                    $<%=recipes[i].cost %>
                                </h4>
                                <p style="font-style: italic;" class="text-center">
                                    <%=recipes[i].description %>
                                </p>
                                
                                <span class="search-rating center-block text-center">
                                    <!-- fill stars -->

                                    <% for(var j=0; j<Math.round(recipes[i].review_avg) ;j++) {%>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <% } %>                               
                                    <!-- add empty stars -->
                                     <% for(var j=0; j<5-Math.round(recipes[i].review_avg) ;j++) {%>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <% } %>
                                </span>
                            </div>
                        </div>
                        </a>
                        <% } %>
                    <%}%>     
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer text-center">
    <hr>
    <p class="copyright">
        Copyright &copy; Feed 2016
    </p>
</footer>

<script src="../js/jquery.js" type="text/javascript"> </script>
<script src="../js/bootstrap.min.js" type="text/javascript"> </script>
</body>
</html>
